.bg-black {
    background-color: black;
    color: white;
    padding: 3rem 15rem;

}

.bg-blue {
    background-color: blue;
    color: white;


}

main {
    position: relative;
    z-index: 1;
}

footer div:first-child {

    background-image: url(./assets/img/footer-bg.jpg);
    padding-left: 6rem;
    position: relative;

}

.list {
    color: white;


    ul {

        list-style: none;
    }
}

span {
    position: relative;

    img {
        position: absolute;
        left: 17rem;
        top: -7rem;
        width: 515px;

    }
}