.bg-black {
    background-color: black;
    color: white;
    padding-top: 2rem;


}

.bg-blue {
    background-color: blue;
    color: white;


}

main {
    position: relative;
    z-index: 1;
}

footer div:first-child {

    background-image: url(./assets/img/footer-bg.jpg);
    padding-left: 6rem;
    position: relative;

}

.list {
    color: white;


    ul {

        list-style: none;
    }
}

span {
    position: relative;

    img {
        position: absolute;
        left: 17rem;
        top: -7rem;
        width: 515px;

    }
}

.last-footer {
    background-color: black;
    color: white;
    padding: 3rem 0;
    position: relative;
    z-index: 1;
}

.card img {
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: top;

}

.jumbo {
    background-image: url(./assets/img/jumbotron.jpg);

    background-size: cover;

    position: relative;

    height: 350px;

}

.jumbo .bg-blue {
    position: absolute;
    left: 130px;
    bottom: -20px;

    p {
        margin: 0.8rem;
    }



}