.bg-black {
    background-color: black;
    color: white;
    padding: 3rem 15rem;

}

.bg-blue {
    background-color: blue;
    color: white;


}

footer div:first-child {

    background-image: url(./assets/img/footer-bg.jpg);
    padding-left: 6rem;

}

.list {
    color: white;


    ul {

        list-style: none;
    }
}